<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/images/vt/s1.png" width="100%">
        </div>
        <div class="swiper-slide">
            <img src="/images/vt/s2.png" width="100%">
        </div>
        <div class="swiper-slide">
            <img src="/images/vt/s3.png" width="100%">
        </div>
    </div>
    <div class="swper-radius"></div>
    <!-- 分页器 -->
    <div class="swiper-pagination"></div>
</div>